

	.color-wrapper {
		position: relative;
		width: 250px;
		margin: 20px auto;
	}

	.color-wrapper p {
		margin-bottom: 5px;
	}

	input.call-picker {
      float: left;    
       outline: none;
	  text-transform: uppercase;
      width: 89%;
	}

	.color-picker {
		width: 130px;
		background: #F3F3F3;
		padding: 5px;
		border: 5px solid #fff;
		box-shadow: 0px 0px 3px 1px #DDD;
		position: absolute;
        top: 61px;
        left: 90px;
        z-index: 999;
	}

	.color-holder {
  	background: #fff;
		cursor: pointer;
		border: 1px solid #AAA;
		width: 40px;
		height: 36px;
		float: left;
		margin-left: 5px;
	}

	.color-picker .color-item {
		cursor: pointer;
		width: 10px;
		height: 10px;
		list-style-type: none;
		float: left;
		margin: 2px;
		border: 1px solid #DDD;
	}

	.color-picker .color-item:hover {
		border: 1px solid #666;
		opacity: 0.8;
		-moz-opacity: 0.8;
		filter:alpha(opacity=8);
    }
    [type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  
  /* custom styles */
  body {  
    font: 13px Verdana, sans-serif;
  }
  label {
    display: block;
  }

  
  .coc-block-row {
      width: 100%;
      /*display:table-row;*/
  }
  .coc-block {
      display: table-cell;
      vertical-align: middle;
      padding-bottom: 3px;
  }
  .coc-block-label {
    font-family: Verdana;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-bottom: 3px;
    padding-right: 5px;
    font-weight: bold;
    margin-bottom: 0;
  }

  .coc-form {
      padding-top: 5px;
      padding-left: 8px;
  }
  /*  */
  