<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Sliders</h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Slider</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form class="form-horizontal">
                    <div class="card-body">
                        <h4 class="card-title">Slider 1</h4>
                        <div class="container">
                            <img class='photo'  src="http://farm9.staticflickr.com/8320/8035372009_7075c719d9.jpg" alt="" />
                            <img class='photo'  src="http://farm9.staticflickr.com/8517/8562729616_35b1384aa1.jpg" alt="" />
                            <img class='photo'  src="http://farm9.staticflickr.com/8465/8113424031_72048dd887.jpg" alt="" />
                            <img class='photo'  src="http://farm9.staticflickr.com/8241/8562523343_9bb49b7b7b.jpg" alt="" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
                <div class="card " id="slider_2">
                    <form class="form-horizontal">
                        <div class="card-body">
                            <h4 class="card-title">Slider 2</h4>
                            <div class="slider" >
                                    <input type="radio" name="slide_switch" id="id1"/>
                                    <label for="id1">
                                        <img src="http://thecodeplayer.com/uploads/media/3yiC6Yq.jpg" width="50"/>
                                    </label>
                                    <img src="http://thecodeplayer.com/uploads/media/3yiC6Yq.jpg"/>
                                    
                                    <!--Lets show the second image by default on page load-->
                                    <input type="radio" name="slide_switch" id="id2" checked="checked"/>
                                    <label for="id2">
                                        <img src="http://thecodeplayer.com/uploads/media/40Ly3VB.jpg" width="50"/>
                                    </label>
                                    <img src="http://thecodeplayer.com/uploads/media/40Ly3VB.jpg"/>
                                    
                                    <input type="radio" name="slide_switch" id="id3"/>
                                    <label for="id3">
                                        <img src="http://thecodeplayer.com/uploads/media/00kih8g.jpg" width="50"/>
                                    </label>
                                    <img src="http://thecodeplayer.com/uploads/media/00kih8g.jpg"/>
                                    
                                    <input type="radio" name="slide_switch" id="id4"/>
                                    <label for="id4">
                                        <img src="http://thecodeplayer.com/uploads/media/2rT2vdx.jpg" width="50"/>
                                    </label>
                                    <img src="http://thecodeplayer.com/uploads/media/2rT2vdx.jpg"/>
                                    
                                    <input type="radio" name="slide_switch" id="id5"/>
                                    <label for="id5">
                                        <img src="http://thecodeplayer.com/uploads/media/8k3N3EL.jpg" width="50"/>
                                    </label>
                                    <img src="http://thecodeplayer.com/uploads/media/8k3N3EL.jpg"/>
                                
                                    <input type="radio" name="slide_switch" id="id6"/>
                                    <label for="id6">
                                        <img src="http://thecodeplayer.com/uploads/media/8k3N3EL.jpg" width="50"/>
                                    </label>
                                    <img src="http://thecodeplayer.com/uploads/media/8k3N3EL.jpg"/>
                                
                                    <input type="radio" name="slide_switch" id="id7"/>
                                    <label for="id7">
                                        <img src="http://thecodeplayer.com/uploads/media/8k3N3EL.jpg" width="50"/>
                                    </label>
                                    <img src="http://thecodeplayer.com/uploads/media/8k3N3EL.jpg"/>
                                
                                    <input type="radio" name="slide_switch" id="id8"/>
                                    <label for="id8">
                                        <img src="http://thecodeplayer.com/uploads/media/40Ly3VB.jpg" width="50"/>
                                    </label>
                                    <img src="http://thecodeplayer.com/uploads/media/40Ly3VB.jpg"/>
                            </div>  
                        </div>
                    </form>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form class="form-horizontal">
                    <div class="card-body">
                        <h4 class="card-title">Slider 3</h4>
                        <div id="slideshow-wrap">
                                <input type="radio" id="button-1" name="controls" checked="checked"/>
                                <label for="button-1"></label>
                                <input type="radio" id="button-2" name="controls"/>
                                <label for="button-2"></label>
                                <input type="radio" id="button-3" name="controls"/>
                                <label for="button-3"></label>
                                <label for="button-1" class="arrows" id="arrow-1"><i class="fas fa-angle-right" aria-hidden="true"></i></label>
                                <label for="button-2" class="arrows" id="arrow-2"><i class="fas fa-angle-right" aria-hidden="true"></i></label>
                                <label for="button-3" class="arrows" id="arrow-3"><i class="fas fa-angle-right" aria-hidden="true"></i></label>
                                <div id="slideshow-inner">
                                    <ul>
                                        <li id="slide1">
                                            <img src="http://thecodeplayer.com/uploads/media/3yiC6Yq.jpg" />
                                            <div class="description">
                                                <input type="checkbox" id="show-description-1"/>
                                                <label for="show-description-1" class="show-description-label">I</label>
                                                <div class="description-text">
                                                    <h2>Flower power</h2>
                                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li id="slide2">
                                            <img src="http://thecodeplayer.com/uploads/media/40Ly3VB.jpg" />
                                            <div class="description">
                                                <input type="checkbox" id="show-description-2"/>
                                                <label for="show-description-2" class="show-description-label">I</label>
                                                <div class="description-text">
                                                    <h2>Golden sunset</h2>
                                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li id="slide3">
                                            <img src="http://thecodeplayer.com/uploads/media/00kih8g.jpg" />
                                            <div class="description">
                                                <input type="checkbox" id="show-description-3"/>
                                                <label for="show-description-3" class="show-description-label">I</label>
                                                <div class="description-text">
                                                    <h2>Flower power again</h2>
                                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li id="slide4">
                                            <img src="https://cssdeck.com/uploads/media/items/2/2rT2vdx.jpg" />
                                            <div class="description">
                                                <input type="checkbox" id="show-description-4"/>
                                                <label for="show-description-4" class="show-description-label">I</label>
                                                <div class="description-text">
                                                    <h2>Stormy coast</h2>
                                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
                                                </div>
                                            </div>
                                        </li>
                                        
                                    </ul>
                                </div>
                        </div>  
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-md-12">
                    <div class="card " id="slider_4">
                        <form class="form-horizontal">
                            <div class="card-body">
                                <h4 class="card-title">Slider 4</h4>
                                <div id="carouselExampleControls" class="carousel" data-ride="carousel">
                                        <div class="carousel-inner">
                                          <div class="carousel-item active">
                                            <div class="carousel-caption">
                                              <h3>Boyd W.</h3>
                                              <p>TEXT</p>
                                            </div>
                                          </div>
                                          <div class="carousel-item">
                                            <div class="carousel-caption">
                                              <h3>Diane L</h3>
                                              <p>TEXT</p>
                                            </div>
                                          </div>
                                          <div class="carousel-item">
                                            <div class="carousel-caption">
                                              <h3>Randall L</h3>
                                              <p>TEXT</p>
                                            </div>
                                          </div>
                                          <div class="carousel-item">
                                            <div class="carousel-caption">
                                              <h3>John D.</h3>
                                              <p>TEXT</p>
                                            </div>
                                          </div>
                                          <div class="carousel-item">
                                            <div class="carousel-caption">
                                              <h3>Jody B.</h3>
                                              <p>TEXT</p>
                                            </div>
                                          </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                          <i class="fa fa-angle-left" aria-hidden="true"></i>
                                          <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                          <i class="fa fa-angle-right" aria-hidden="true"></i>
                                          <span class="sr-only">Next</span>
                                        </a>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
    </div>
    
</div>
