<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Organization Chart</h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Organization Chart</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="content">
            <h1 class="text-center">Organization Chart 1</h1>
            <figure class="org-chart cf">
              <ul class="administration">
                <li>					
                  <ul class="director">
                    <li>
                      <a href="#"><span>Director</span></a>
                      <ul class="subdirector">
                        <li><a href="#"><span>Assistante Director</span></a></li>
                      </ul>
                      <ul class="departments cf">								
                        <li><a href="#"><span>Administration</span></a></li>
                        
                        <li class="department dep-a">
                          <a href="#"><span>Department A</span></a>
                          <ul class="sections">
                            <li class="section"><a href="#"><span>Section A1</span></a></li>
                            <li class="section"><a href="#"><span>Section A2</span></a></li>
                            <li class="section"><a href="#"><span>Section A3</span></a></li>
                            <li class="section"><a href="#"><span>Section A4</span></a></li>
                            <li class="section"><a href="#"><span>Section A5</span></a></li>
                          </ul>
                        </li>
                        <li class="department dep-b">
                          <a href="#"><span>Department B</span></a>
                          <ul class="sections">
                            <li class="section"><a href="#"><span>Section B1</span></a></li>
                            <li class="section"><a href="#"><span>Section B2</span></a></li>
                            <li class="section"><a href="#"><span>Section B3</span></a></li>
                            <li class="section"><a href="#"><span>Section B4</span></a></li>
                          </ul>
                        </li>
                        <li class="department dep-c">
                          <a href="#"><span>Department C</span></a>
                          <ul class="sections">
                            <li class="section"><a href="#"><span>Section C1</span></a></li>
                            <li class="section"><a href="#"><span>Section C2</span></a></li>
                            <li class="section"><a href="#"><span>Section C3</span></a></li>
                            <li class="section"><a href="#"><span>Section C4</span></a></li>
                          </ul>
                        </li>
                        <li class="department dep-d">
                          <a href="#"><span>Department D</span></a>
                          <ul class="sections">
                            <li class="section"><a href="#"><span>Section D1</span></a></li>
                            <li class="section"><a href="#"><span>Section D2</span></a></li>
                            <li class="section"><a href="#"><span>Section D3</span></a></li>
                            <li class="section"><a href="#"><span>Section D4</span></a></li>
                            <li class="section"><a href="#"><span>Section D5</span></a></li>
                            <li class="section"><a href="#"><span>Section D6</span></a></li>
                          </ul>
                        </li>
                        <li class="department dep-e">
                          <a href="#"><span>Department E</span></a>
                          <ul class="sections">
                            <li class="section"><a href="#"><span>Section E1</span></a></li>
                            <li class="section"><a href="#"><span>Section E2</span></a></li>
                            <li class="section"><a href="#"><span>Section E3</span></a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>	
                </li>
              </ul>			
            </figure>
          </div>
    </div>
</div>
<div class="card" style="margin-top: 649px;">
    <div class="card-body">
        <figure>
            <figcaption>Example DOM structure diagram</figcaption>
            <ul class="tree">
                <li><code>html</code>
                    <ul>
                        <li><code>head</code>
                            <ul>
                                <li><code>title</code></li>
                            </ul>
                        </li>
                        <li><code>body</code>
                            <ul>
                                <li><code>header</code>
                                    <ul>
                                        <li><code>h1</code></li>
                                        <li><code>p</code></li>
                                    </ul>
                                </li>
                                <li><code>nav</code>
                                    <ul>
                                        <li><code>a</code></li>
                                        <li><code>a</code></li>
                                        <li><code>a</code></li>
                                        <li><code>a</code></li>
                                    </ul>
                                </li>
                                <li><code>main</code>
                                    <ul>
                                        <li><code>h1</code></li>
                                        <li><code>article</code>
                                            <ul>
                                                <li><code>h2</code></li>
                                                <li><code>p</code></li>
                                                <li><code>p</code></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><code>aside</code>
                                    <ul>
                                        <li><code>h2</code></li>
                                        <li><code>p</code></li>
                                        <li><code>p</code>
                                            <ul>
                                                <li><code>a</code></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><code>footer</code>
                                    <ul>
                                        <li><code>nav</code>
                                            <ul>
                                                <li><code>a</code></li>
                                                <li><code>a</code></li>
                                                <li><code>a</code></li>
                                                <li><code>a</code></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </figure>
        <figure>
            <figcaption>Example sitemap</figcaption>
            <ul class="tree">
                <li><span>Home</span>
                    <ul>
                        <li><span>About us</span>
                            <ul>
                                <li><span>Our history</span>
                                    <ul>
                                        <li><span>Founder</span></li>
                                    </ul>
                                </li>
                                <li><span>Our board</span>
                                    <ul>
                                        <li><span>Brad Whiteman</span></li>
                                        <li><span>Cynthia Tolken</span></li>
                                        <li><span>Bobby Founderson</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><span>Our products</span>
                            <ul>
                                <li><span>The Widget 2000™</span>
                                    <ul>
                                        <li><span>Order form</span></li>
                                    </ul>
                                </li>
                                <li><span>The McGuffin V2</span>
                                    <ul>
                                        <li><span>Order form</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><span>Contact us</span>
                            <ul>
                                <li><span>Social media</span>
                                    <ul>
                                        <li><span>Facebook</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </figure>
    </div>
</div>
