<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Charts</h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <h1 class="text-center text-inverse">Card Charts</h1>
    <div class="row col-ms-12">
        <div class="card col-md-6">
            <div class="card-body">
                <div class="row">
                    <!-- DONUT CHART BLOCK (LEFT-CONTAINER) -->
                    <div class="donut-chart-block block ">
                        <h2 class="titular">OS AUDIENCE STATS</h2>
                        <div class="donut-chart">
                            <!-- PORCIONES GRAFICO CIRCULAR
                        ELIMINADO #donut-chart
                        MODIFICADO CSS de .donut-chart -->
                            <div id="porcion1" class="recorte">
                                <div class="quesito ios" data-rel="21"></div>
                            </div>
                            <div id="porcion2" class="recorte">
                                <div class="quesito mac" data-rel="39"></div>
                            </div>
                            <div id="porcion3" class="recorte">
                                <div class="quesito win" data-rel="31"></div>
                            </div>
                            <div id="porcionFin" class="recorte">
                                <div class="quesito linux" data-rel="9"></div>
                            </div>
                            <!-- FIN AÑADIDO GRÄFICO -->
                            <p class="center-date">JUNE<br><span class="scnd-font-color">2020</span></p>
                        </div>
                        <ul class="os-percentages horizontal-list">
                            <li>
                                <p class="ios os scnd-font-color">iOS</p>
                                <p class="os-percentage">21<sup>%</sup></p>
                            </li>
                            <li>
                                <p class="mac os scnd-font-color">Mac</p>
                                <p class="os-percentage">39<sup>%</sup></p>
                            </li>
                            <li>
                                <p class="linux os scnd-font-color">Linux</p>
                                <p class="os-percentage">9<sup>%</sup></p>
                            </li>
                            <li>
                                <p class="win os scnd-font-color">Win</p>
                                <p class="os-percentage">31<sup>%</sup></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-6">
            <div class="card-body">
                <div class="row">
                    <!-- LINE CHART BLOCK (LEFT-CONTAINER) -->
                    <div class="line-chart-block block  ">
                        <div class="line-chart">
                            <div class='grafico'>
                                <ul class='eje-y'>
                                    <li data-ejeY='30'></li>
                                    <li data-ejeY='20'></li>
                                    <li data-ejeY='10'></li>
                                    <li data-ejeY='0'></li>
                                </ul>
                                <ul class='eje-x'>
                                    <li>Apr</li>
                                    <li>May</li>
                                    <li>Jun</li>
                                </ul>
                                <span data-valor='25'>
                                    <span data-valor='8'>
                                        <span data-valor='13'>
                                            <span data-valor='5'>
                                                <span data-valor='23'>
                                                    <span data-valor='12'>
                                                        <span data-valor='15'>
                                                        </span></span></span></span></span></span></span>
                            </div>

                        </div>
                        <ul class="time-lenght horizontal-list">
                            <li><a class="time-lenght-btn" href="#14">Week</a></li>
                            <li><a class="time-lenght-btn" href="#15">Month</a></li>
                            <li><a class="time-lenght-btn" href="#16">Year</a></li>
                        </ul>
                        <ul class="month-data clear">
                            <li>
                                <p>APR<span class="scnd-font-color"> 2013</span></p>
                                <p><span class="entypo-plus increment"> </span>21<sup>%</sup></p>
                            </li>
                            <li>
                                <p>MAY<span class="scnd-font-color"> 2013</span></p>
                                <p><span class="entypo-plus increment"> </span>48<sup>%</sup></p>
                            </li>
                            <li>
                                <p>JUN<span class="scnd-font-color"> 2013</span></p>
                                <p><span class="entypo-plus increment"> </span>35<sup>%</sup></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-ms-12">
        <div class="card col-md-6">
            <div class="card-body">
                <div class="row">
                    <div class="bar-chart-block block ">
                        <h2 class='titular'>By Country <span>*1000</span></h2>
                        <div class='grafico bar-chart'>
                            <ul class='eje-y'>
                                <li data-ejeY='60'></li>
                                <li data-ejeY='45'></li>
                                <li data-ejeY='30'></li>
                                <li data-ejeY='15'></li>
                                <li data-ejeY='0'></li>
                            </ul>
                            <ul class='eje-x'>
                                <li data-ejeX='37'><i>España</i></li>
                                <li data-ejeX='56'><i>Portugal</i></li>
                                <li data-ejeX='25'><i>Italia</i></li>
                                <li data-ejeX='18'><i>Grecia</i></li>
                                <li data-ejeX='45'><i>EE.UU</i></li>
                                <li data-ejeX='50'><i>México</i></li>
                                <li data-ejeX='33'><i>Chile</i></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <h1 class="text-center text-inverse">Progress Charts</h1>
    <div class="row col-ms-12">
        <div class="card col-md-6">
            <div class="card-body">
                <!-- Horizontal, rounded -->
                <div class=" horizontal rounded">
                    <h2>Horizontal, Rounded</h2>
                    <div class="progress-bar horizontal">
                        <div class="progress-track">
                            <div class="progress-fill">
                                <span>100%</span>
                            </div>
                        </div>
                    </div>

                    <div class="progress-bar horizontal">
                        <div class="progress-track">
                            <div class="progress-fill">
                                <span>75%</span>
                            </div>
                        </div>
                    </div>

                    <div class="progress-bar horizontal">
                        <div class="progress-track">
                            <div class="progress-fill">
                                <span>60%</span>
                            </div>
                        </div>
                    </div>

                    <div class="progress-bar horizontal">
                        <div class="progress-track">
                            <div class="progress-fill">
                                <span>20%</span>
                            </div>
                        </div>
                    </div>

                    <div class="progress-bar horizontal">
                        <div class="progress-track">
                            <div class="progress-fill">
                                <span>34%</span>
                            </div>
                        </div>
                    </div>

                    <div class="progress-bar horizontal">
                        <div class="progress-track">
                            <div class="progress-fill">
                                <span>82%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card col-md-6">
            <div class="card-body">
                <!-- Vertical, rounded -->
                <div class="vertical rounded">
                    <h2>Vertical, Rounded</h2>
                    <div class="progress-bar">
                        <div class="progress-track">
                            <div class="progress-fill">
                                <span>100%</span>
                            </div>
                        </div>
                    </div>

                    <div class="progress-bar">
                        <div class="progress-track">
                            <div class="progress-fill">
                                <span>75%</span>
                            </div>
                        </div>
                    </div>

                    <div class="progress-bar">
                        <div class="progress-track">
                            <div class="progress-fill">
                                <span>60%</span>
                            </div>
                        </div>
                    </div>

                    <div class="progress-bar">
                        <div class="progress-track">
                            <div class="progress-fill">
                                <span>20%</span>
                            </div>
                        </div>
                    </div>

                    <div class="progress-bar">
                        <div class="progress-track">
                            <div class="progress-fill">
                                <span>34%</span>
                            </div>
                        </div>
                    </div>

                    <div class="progress-bar">
                        <div class="progress-track">
                            <div class="progress-fill">
                                <span>82%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <h1 class="text-center text-inverse">Donut Charts</h1>
    <div class="row donut">
        <div class="card col-md-3">
            <div class="donut-chart chart1">
                <div class="slice one"></div>
                <div class="slice two"></div>
                <div class="chart-center">
                    <span></span>
                </div>
            </div>
        </div>

        <div class="card col-md-3">
            <div class="donut-chart chart2">
                <div class="slice one"></div>
                <div class="slice two"></div>
                <div class="chart-center">
                    <span></span>
                </div>
            </div>
        </div>

        <div class="card col-md-3">
            <div class="donut-chart chart3">
                <div class="slice one"></div>
                <div class="slice two"></div>
                <div class="chart-center">
                    <span></span>
                </div>
            </div>
        </div>

        <div class="card col-md-3">
            <div class="donut-chart chart4">
                <div class="slice one"></div>
                <div class="slice two"></div>
                <div class="chart-center">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>