
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}
body {
	background: #1f253d;
}

ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

h1 {
	font-size: 23px;
}

h2 {
	font-size: 17px;
}

p {
	font-size: 15px;
}

a {
	text-decoration: none;
	font-size: 15px;
}
	a:hover {
		text-decoration: underline;
	}

	.scnd-font-color {
		color: #9099b7;
	}
.titular {
display: block;
line-height: 60px;
margin: 0;
text-align: center;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.horizontal-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
	.horizontal-list li {
		float: left;
	}
.block {
    margin: 25px 75px 0 0;
    background: #394264;
    border-radius: 5px;
    float: left;
    width: 100%;
    overflow: hidden;
}
		/******************************************** LEFT CONTAINER *****************************************/
		.left-container {}
			.menu-box {
				height: 360px;
			}

			.donut-chart-block {
				overflow: hidden;
			}
				.donut-chart-block .titular {
					padding: 10px 0;
				}
				.os-percentages li {
					width: 75px;
					border-left: 1px solid #394264;
					text-align: center;					
					background: #50597b;
				}
					.os {
						margin: 0;
						padding: 10px 0 5px;
						font-size: 15px;		
					}
						.os.ios {
							border-top: 4px solid #e64c65;
						}
						.os.mac {
							border-top: 4px solid #11a8ab;
						}
						.os.linux {
							border-top: 4px solid #fcb150;
						}
						.os.win {
							border-top: 4px solid #4fc4f6;
						}
					.os-percentage {
						margin: 0;
						padding: 0 0 15px 10px;
						font-size: 25px;
					}
			.line-chart-block, .bar-chart-block {
				height: 400px;
			}
				.line-chart {
					height: 200px;
					background: #11a8ab;
				}
				.time-lenght {
					padding-top: 22px;
					padding-left: 38px;
          overflow: hidden;
				}
					.time-lenght-btn {
						display: block;
						width: 70px;
						line-height: 32px;
						background: #50597b;
						border-radius: 5px;
						font-size: 14px;
						text-align: center;
						margin-right: 5px;
						-webkit-transition: background .3s;
						transition: background .3s;
					}
						.time-lenght-btn:hover {
							text-decoration: none;
							background: #e64c65;
						}
				.month-data {
					padding-top: 28px;
				}
					.month-data p {
						display: inline-block;
						margin: 0;
						padding: 0 25px 15px;            
						font-size: 16px;
					}
						.month-data p:last-child {
							padding: 0 25px;
              float: right;
							font-size: 15px;
						}
						.increment {
							color: #e64c65;
						}


.grafico {
  padding: 2rem 1rem 1rem;
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
  font-size: 80%;
}
.grafico span {
  display: block;
  position: absolute;
  bottom: 3rem;
  left: 2rem;
  height: 0;
  border-top: 2px solid;
  transform-origin: left center;
}
.grafico span > span {
  left: 100%; bottom: 0;
}
[data-valor='25'] {width: 75px; transform: rotate(-45deg);}
[data-valor='8'] {width: 24px; transform: rotate(65deg);}
[data-valor='13'] {width: 39px; transform: rotate(-45deg);}
[data-valor='5'] {width: 15px; transform: rotate(50deg);}
[data-valor='23'] {width: 69px; transform: rotate(-70deg);}
[data-valor='12'] {width: 36px; transform: rotate(75deg);}
[data-valor='15'] {width: 45px; transform: rotate(-45deg);}

[data-valor]:before {
  content: '';
  position: absolute;
  display: block;
  right: -4px;
  bottom: -3px;
  padding: 4px;
  background: #fff;
  border-radius: 50%;
}
[data-valor='23']:after {
  content: '+' attr(data-valor) '%';
  position: absolute;
  right: -2.7rem;
  top: -1.7rem;
  padding: .3rem .5rem;
  background: #50597B;
  border-radius: .5rem;
  transform: rotate(45deg);  
}
[class^='eje-'] {
  position: absolute;
  left: 0;
  bottom: 0rem;
  width: 100%;
  padding: 1rem 1rem 0 2rem;
  height: 80%;
}
.eje-x {
  height: 2.5rem;
}
.eje-y li {
  height: 25%;
  border-top: 1px solid #777;
}
[data-ejeY]:before {
  content: attr(data-ejeY);
  display: inline-block;
  width: 2rem;
  text-align: right;
  line-height: 0;
  position: relative;
  left: -2.5rem;
  top: -.5rem;
} 
.eje-x li {
  width: 33%;
  float: left;
  text-align: center;
}

/******************************************
GRAFICO CIRCULAR PIE CHART
******************************************/
.donut-chart {
  position: relative;
	width: 200px;
  height: 200px;
	margin: 0 auto 2rem;
	border-radius: 100%
 }
p.center-date {
  background: #394264;
  position: absolute;
  text-align: center;
	font-size: 28px;
  top:0;left:0;bottom:0;right:0;
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 50%;
  line-height: 35px;
  padding: 15% 0 0;
}
.center-date span.scnd-font-color {
 line-height: 0; 
}
.recorte {
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
    height: 100%;
    position: absolute;
    width: 100%;
  }
.quesito {
    border-radius: 50%;
    clip: rect(0px, 100px, 200px, 0px);
    height: 100%;
    position: absolute;
    width: 100%;
    font-family: monospace;
    font-size: 1.5rem;
  }
#porcion1 {
    transform: rotate(0deg);
  }

#porcion1 .quesito {
    background-color: #E64C65;
    transform: rotate(76deg);
  }
#porcion2 {
    transform: rotate(76deg);
  }
#porcion2 .quesito {
    background-color: #11A8AB;
    transform: rotate(140deg);
  }
#porcion3 {
    transform: rotate(215deg);
  }
#porcion3 .quesito {
    background-color: #4FC4F6;
    transform: rotate(113deg);
  }
#porcionFin {
    transform:rotate(-32deg);
  }
#porcionFin .quesito {
    background-color: #FCB150;
    transform: rotate(32deg);
  }
.nota-final {
  clear: both;
  color: #4FC4F6;
  font-size: 1rem;
  padding: 2rem 0;
}
.nota-final strong {
  color: #E64C65;
}
.nota-final a {
  color: #FCB150;
  font-size: inherit;
}
/**************************
BAR-CHART
**************************/
.grafico.bar-chart {
  background: #3468AF;
  padding: 0 1rem 2rem 1rem;
  width: 100%;
  height: 60%;
  position: relative;
  color: #fff;
  font-size: 80%;
}
.bar-chart [class^='eje-'] {
  padding: 0 1rem 0 2rem;
  bottom: 1rem;
}
.bar-chart .eje-x {
  bottom: 0;
}
 .bar-chart .eje-y li {
  height: 20%;
  border-top: 1px solid #fff;
}
.bar-chart .eje-x li {
  width: 14%;
  position: relative;
  text-align: left;
}
.bar-chart .eje-x li i {
  transform: rotatez(-45deg) translatex(-1rem);
  transform-origin: 30% 60%;
  display: block;
}
.bar-chart .eje-x li:before {
  content: '';
  position: absolute;
  bottom: 1.9rem;
  width: 70%;
  right: 5%;
  box-shadow: 3px 0 rgba(0,0,0,.1), 3px -3px rgba(0,0,0,.1);
}
.bar-chart .eje-x li:nth-child(1):before {
  background: #E64C65;  
  height: 570%;
}
.bar-chart .eje-x li:nth-child(2):before {
  background: #11A8AB;  
  height: 900%;
}
.bar-chart .eje-x li:nth-child(3):before {
  background: #FCB150;  
  height: 400%;
}
.bar-chart .eje-x li:nth-child(4):before {
  background: #4FC4F6;  
  height: 290%;
}
.bar-chart .eje-x li:nth-child(5):before {
  background: #FFED0D;  
  height: 720%;
}
.bar-chart .eje-x li:nth-child(6):before {
  background: #F46FDA;  
  height: 820%;
}
.bar-chart .eje-x li:nth-child(7):before {
  background: #15BFCC;  
  height: 520%;
}
/* bar-charts */
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
   }
  
  body {
    background: #999;
  }
  
  h2 {
    margin: 0 0 20px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #999;
    font-family: sans-serif;
    font-weight: normal;
    color: #333;
  }
  
  .horizontal .progress-bar {
    float: left;
    height: 45px;
    width: 100%;
    padding: 12px 0;
  }
  
  .horizontal .progress-track {
    position: relative;
    width: 100%;
    height: 20px;
    background: #ebebeb;
  }
  
  .horizontal .progress-fill {
    position: relative;
    background: #666;
    height: 20px;
    width: 50%;
    color: #fff;
    text-align: center;
    font-family: "Lato","Verdana",sans-serif;
    font-size: 12px;
    line-height: 20px;
  }
  
  .rounded .progress-track,
  .rounded .progress-fill {
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
  }
  
  
  
  /* Vertical */
  
  .vertical .progress-bar {
    float: left;
    height: 300px;
    width: 40px;
    margin-right: 25px;
  }
  
  .vertical .progress-track {
    position: relative;
    width: 40px;
    height: 100%;
    background: #ebebeb;
  }
  
  .vertical .progress-fill {
    position: relative;
    background: #825;
    height: 50%;
    width: 40px;
    color: #fff;
    text-align: center;
    font-family: "Lato","Verdana",sans-serif;
    font-size: 12px;
    line-height: 20px;
  }
  
  .rounded .progress-track,
  .rounded .progress-fill {
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    border-radius: 3px;
  }
  .progress-bar{
    background-color: #ffffff !important;
  }
  /*  */
  .donut .card{
    padding-top: 4%;
  }
  .donut-chart {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}
.donut-chart .slice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.donut-chart .chart-center {
    position: absolute;
    border-radius: 50%;
}
.donut-chart .chart-center span {
    display: block;
    text-align: center;
}
.donut-chart.chart1 {
    width: 200px;
    height: 200px;
    background: #e1e1e1;
}
.donut-chart.chart1 .slice.one {
    clip: rect(0 200px 100px 0);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background: #50c690;
}
.donut-chart.chart1 .slice.two {
    clip: rect(0 100px 200px 0);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    background: #50c690;
}
.donut-chart.chart1 .chart-center {
    top: 10px;
    left: 10px;
    width: 180px;
    height: 180px;
    background: #fff;
}
.donut-chart.chart1 .chart-center span {
    font-size: 40px;
    line-height: 180px;
    color: #50c690;
}
.donut-chart.chart1 .chart-center span:after {
    content: "75%";
}
.donut-chart.chart2 {
    width: 200px;
    height: 200px;
    background: #e1e1e1;
}
.donut-chart.chart2 .slice.one {
    clip: rect(0 200px 100px 0);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background: #48b2c1;
}
.donut-chart.chart2 .slice.two {
    clip: rect(0 100px 200px 0);
    -webkit-transform: rotate(327.6deg);
    transform: rotate(327.6deg);
    background: #48b2c1;
}
.donut-chart.chart2 .chart-center {
    top: 25px;
    left: 25px;
    width: 150px;
    height: 150px;
    background: #fff;
}
.donut-chart.chart2 .chart-center span {
    font-size: 40px;
    line-height: 150px;
    color: #48b2c1;
}
.donut-chart.chart2 .chart-center span:after {
    content: "91%";
}
.donut-chart.chart3 {
    width: 120px;
    height: 120px;
    background: #353535;
}
.donut-chart.chart3 .slice.one {
    clip: rect(0 120px 60px 0);
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
    background: #e1e1e1;
}
.donut-chart.chart3 .slice.two {
    clip: rect(0 60px 120px 0);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #e1e1e1;
}
.donut-chart.chart3 .chart-center {
    top: 5px;
    left: 5px;
    width: 110px;
    height: 110px;
    background: #fff;
}
.donut-chart.chart3 .chart-center span {
    font-size: 40px;
    line-height: 110px;
    color: #353535;
}
.donut-chart.chart3 .chart-center span:after {
    content: "15%";
}
.donut-chart.chart4 {
    width: 240px;
    height: 240px;
    background: #f26a4a;
}
.donut-chart.chart4 .slice.one {
    clip: rect(0 240px 120px 0);
    -webkit-transform: rotate(252deg);
    transform: rotate(252deg);
    background: #e1e1e1;
}
.donut-chart.chart4 .slice.two {
    clip: rect(0 120px 240px 0);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #e1e1e1;
}
.donut-chart.chart4 .chart-center {
    top: 15px;
    left: 15px;
    width: 210px;
    height: 210px;
    background: #fff;
}
.donut-chart.chart4 .chart-center span {
    font-size: 60px;
    line-height: 210px;
    color: #f26a4a;
}
.donut-chart.chart4 .chart-center span:after {
    content: "45%";
}
