<div id="main-wrapper">
    <header class="topbar" data-navbarbg="skin5">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header" data-logobg="skin5">
                <!-- This is for the sidebar toggle which is visible on mobile only -->
                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                <a class="navbar-brand text-center" routerLink="dashboard">
                    <!-- Logo icon -->
                    <b class="logo-icon p-l-10">
                        ADMIN
                    </b>
                </a>
            
                <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
            </div>
            <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                <ul class="navbar-nav float-left mr-auto">
                    <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a></li>
                  
                    <!-- ============================================================== -->
                    <!-- Search -->
                    <!-- ============================================================== -->
                    <li class="nav-item search-box"> <a class="nav-link waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                        <form class="app-search position-absolute">
                            <input type="text" class="form-control" placeholder="Search &amp; enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                        </form>
                    </li>
                </ul>
                <!-- ============================================================== -->
                <!-- Right side toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav float-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../assets/user.jpg" alt="user" class="rounded-circle" width="31"></a>
                        <div class="dropdown-menu dropdown-menu-right user-dd animated">
                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i> My Profile</a>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-wallet m-r-5 m-l-5"></i> My Balance</a>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email m-r-5 m-l-5"></i> Inbox</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-settings m-r-5 m-l-5"></i> Account Setting</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
                            <div class="dropdown-divider"></div>
                            <div class="p-l-30 p-10"><a href="javascript:void(0)" class="btn btn-sm btn-success btn-rounded">View Profile</a></div>
                        </div>
                    </li>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                </ul>
            </div>
        </nav>
    </header>

    <aside class="left-sidebar" data-sidebarbg="skin5">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav" class="p-t-30">
                    <li class="sidebar-item"  routerLinkActive="selected"> <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="dashboard" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
                    <li class="sidebar-item"  routerLinkActive="selected"> <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="charts" aria-expanded="false"><i class="mdi mdi-chart-bar"></i><span class="hide-menu">Charts</span></a></li>
                    <li class="sidebar-item"  routerLinkActive="selected"> <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="buttons" aria-expanded="false"><i class="mdi mdi-chart-bubble"></i><span class="hide-menu">Widgets Button</span></a></li>
                    <li class="sidebar-item"  routerLinkActive="selected"> <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="tables" aria-expanded="false"><i class="mdi mdi-border-inside"></i><span class="hide-menu">Tables</span></a></li>
                    <li class="sidebar-item"  routerLinkActive="selected"> <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="sliders" aria-expanded="false"><i class="mdi mdi-blur-linear"></i><span class="hide-menu">Sliders</span></a></li>
                    <li class="sidebar-item"  routerLinkActive="selected"> <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="wizard"aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Wizard </span></a></li>
                    <li class="sidebar-item"  routerLinkActive="selected"> <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="forms"aria-expanded="false"><i class="mdi mdi-note-outline"></i><span class="hide-menu">Forms</span></a></li>
                    <li class="sidebar-item"  routerLinkActive="selected"> <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="loading"aria-expanded="false"><i class="fa fa-spinner   "></i><span class="hide-menu">Loading</span></a></li>
                    <li class="sidebar-item"  routerLinkActive="selected"> <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="timeline"aria-expanded="false"><i class="fa fa-clock   "></i><span class="hide-menu">Time Line</span></a></li>
                    <li class="sidebar-item"  routerLinkActive="selected"> <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="orgchart"aria-expanded="false"><i class="fa fa-chart-bar"></i><span class="hide-menu">Organization Chart</span></a></li>
                    <li class="sidebar-item"  routerLinkActive="selected"> <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="texteditor"aria-expanded="false"><i class="fa fa-edit"></i><span class="hide-menu">Text Editor</span></a></li>

                  
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <div class="page-wrapper">
        <router-outlet></router-outlet>
    </div>

</div>