 .table-editable {
	 position: relative;
}
 .table-editable .fa {
	 font-size: 20px;
}
 .table-remove {
	 color: #700;
	 cursor: pointer;
}
 .table-remove:hover {
	 color: #f00;
}
 .table-up, .table-down {
	 color: #007;
	 cursor: pointer;
}
 .table-up:hover, .table-down:hover {
	 color: #00f;
}
 .table-add {
	 color: #070;
	 cursor: pointer;
	 position: absolute;
	 top: 8px;
	 right: 0;
}
 .table-add:hover {
	 color: #0b0;
}
 