<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Loading</h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Loading</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="border-top">
                    <div class="card-body">
                        <h5 class="card-title">Loading animations</h5>
                        <div class="content">
                              <div class="load-wrapp">
                                  <div class="load-1">
                                      <p>Loading 1</p>
                                      <div class="line"></div>
                                      <div class="line"></div>
                                      <div class="line"></div>
                                  </div>
                              </div>
                              <div class="load-wrapp">
                                  <div class="load-2">
                                      <p>Loading 2</p>
                                      <div class="line"></div>
                                      <div class="line"></div>
                                      <div class="line"></div>
                                  </div>
                              </div>
                              <div class="load-wrapp">
                                  <div class="load-3">
                                      <p>Loading 3</p>
                                      <div class="line"></div>
                                      <div class="line"></div>
                                      <div class="line"></div>
                                  </div>
                              </div>
                              <div class="load-wrapp">
                                  <div class="load-4">
                                      <p>Loading 4</p>
                                      <div class="ring-1"></div>
                                  </div>
                              </div>
                              <div class="load-wrapp">
                                  <div class="load-5">
                                      <p>Loading 5</p>
                                      <div class="ring-2">
                                          <div class="ball-holder">
                                              <div class="ball"></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="load-wrapp">
                                  <div class="load-6">
                                      <p>Loading 6</p>
                                      <div class="letter-holder">
                                          <div class="l-1 letter">L</div>
                                          <div class="l-2 letter">o</div>
                                          <div class="l-3 letter">a</div>
                                          <div class="l-4 letter">d</div>
                                          <div class="l-5 letter">i</div>
                                          <div class="l-6 letter">n</div>
                                          <div class="l-7 letter">g</div>
                                          <div class="l-8 letter">.</div>
                                          <div class="l-9 letter">.</div>
                                          <div class="l-10 letter">.</div>
                                      </div>
                                  </div>
                              </div>
                              <div class="load-wrapp">
                                  <div class="load-7">
                                      <p>Loading 7</p>
                                      <div class="square-holder">
                                          <div class="square"></div>
                                      </div>
                                  </div>
                              </div>
                              <div class="load-wrapp">
                                  <div class="load-8">
                                      <p>Loading 8</p>
                                      <div class="line"></div>
                                  </div>
                              </div>
                              <div class="load-wrapp">
                                  <div class="load-9">
                                      <p>Loading 9</p>
                                      <div class="spinner">
                                          <div class="bubble-1"></div>
                                          <div class="bubble-2"></div>
                                       </div>
                                  </div>
                              </div>
                              <div class="load-wrapp">
                                  <div class="load-10">
                                      <p>Loading 10</p>
                                      <div class="bar"></div>
                                  </div>
                              </div>
                          </div>
                          <div class="clear"></div>
                    </div>
                </div>
                 <div class="border-top">
                    <div class="card-body">
                        <h5 class="card-title">Spinner Loading</h5>
                        <div class="flexbox">

                            <!--  NO BORDER SPINNER  -->
                            <div>
                              <div class="nb-spinner"></div>
                            </div>
                          
                            <!--  BORDER TOP SPINNER  -->
                            <div>
                              <div class="bt-spinner"></div>
                            </div>
                          
                            <!--  DOUBLE BORDER SPINNER  -->
                            <div>
                              <div class="db-spinner"></div>
                            </div>
                          
                            <!--  DOUBLE SPINNERS  -->
                            <div>
                              <div class="dbl-spinner"></div>
                              <div class="dbl-spinner dbl-spinner--2"></div>
                            </div>                          
                            <!-- REVERSE SPINNER -->
                            <div>
                              <div class="reverse-spinner"></div>
                            </div>
                            
                            <div>
                            <div class="hm-spinner"></div>
                          </div>
                            <!-- TRIPLE SPINNER -->
                            <div>
                              <div class="triple-spinner"></div>
                            </div>
                          
                            <!--  CM spinner  -->
                            <div>
                              <div class="cm-spinner"></div>
                            </div>
                          
                            <!-- MUTLI SPINNER -->
                            <div>
                              <div class="multi-spinner-container">
                                <div class="multi-spinner">
                                  <div class="multi-spinner">
                                    <div class="multi-spinner">
                                      <div class="multi-spinner">
                                        <div class="multi-spinner">
                                          <div class="multi-spinner">
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          
                            <!--  3 DOT LOADER  -->
                            <div>
                              <div class="dot-loader"></div>
                              <div class="dot-loader dot-loader--2"></div>
                              <div class="dot-loader dot-loader--3"></div>
                            </div>
                          
                            <!-- FULL CIRCLE LOADER  -->
                            <div>
                              <div class="circle-loader">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                              </div>
                            </div>
                          
                            <!-- SPINNER 13   -->
                            <div>
                              <div class="ml-loader">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                              </div>
                            </div>
                          
                            <!--  MESH LOADER  -->
                            <div>
                              <div class="mesh-loader">
                                <div class="set-one">
                                  <div class="circle"></div>
                                  <div class="circle"></div>
                                </div>
                                <div class="set-two">
                                  <div class="circle"></div>
                                  <div class="circle"></div>
                                </div>
                              </div>
                            </div>
                          
                            <!-- HEART LOADER   -->
                            <div>
                              <div class="heart-loader"></div>
                            </div>
                          
                            <!-- <div>
                            <div class="pacman"></div>
                          </div> -->
                          
                            <!--  TRIFORCE LOADER  -->
                            <div>
                              <div class="triforce-container">
                                <div class="triforce"></div>
                              </div>
                            </div>
                          </div>
                          
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>