
#text {
    background-color: #1f262d;
    color: #fff;
    text-transform: capitalize;
    padding: 8px 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    width: 90%;
    padding: 5% 2%;
    min-height: 300px;
    border: 5px solid #ddd;
    margin: 70px;
    border-radius: 10px;
}
button , select {
    background: #dddddd;
    color: #1f262d;
    margin: 0 auto;
    border: 1px solid #1f262d;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    outline: none;
}
button:hover, select:hover{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
}
.btv{
    position: absolute;
    top: 78px;
    left: 7%;
    margin: 20px 65px !important;
    border: 0px solid #ddd;
    background: #fff0;
    cursor: pointer;
    display: inline-block;
}
