<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Text Editor</h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Text Editor</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div id="text" contenteditable="true"></div>
        <div class="btv">
        <button onclick="document.execCommand('bold');" title="textBold"><i class="fa fa-bold d-icon d-icon-bold"></i></button>
        <button onclick="document.execCommand('italic');" title="textItalic"><i class="fa fa-italic d-icon d-icon-italic"></i></button>
        <button onclick="document.execCommand('underline');"title="textUnderline"><i class="fa fa-underline d-icon d-icon-italic"></i></button>
        <button onclick="document.execCommand('justifyRight');" title="alignRight"><i class="fa fa-align-right"></i></button>
        <button onclick="document.execCommand('justifyLeft');"title="alignLeft"><i class="fa fa-align-left"></i></button>
        <button onclick="document.execCommand('justifyCenter');"title="alignCenter"><i class="fa fa-align-center"></i></button>
        <button onclick="document.execCommand('insertUnorderedList');"title="addUnorderList">
        <i class="fa fa-list-ul"></i></button>
        <button onclick="document.execCommand('insertOrderedList');"title="addOrderList">
        <i class="fa fa-list-ol"></i></button>
        </div>
    </div>
</div>
