<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">timeline</h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">timeline</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<h1><span>Vertical Timeline</span></h1>

<div class="container">

   <div class="timeline-block timeline-block-right">
      <div class="marker"></div>
      <div class="timeline-content">
         <h3>First Year</h3>
         <span>Some work experience</span>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
      </div>
   </div>

   <div class="timeline-block timeline-block-left">
      <div class="marker"></div>
      <div class="timeline-content">
         <h3>Seconed Year</h3>
         <span>Some work experience</span>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
      </div>
   </div>

   <div class="timeline-block timeline-block-right">
      <div class="marker"></div>
      <div class="timeline-content">
         <h3>Third Year</h3>
         <span>Some work experience</span>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
      </div>
   </div>

   <div class="timeline-block timeline-block-left">
      <div class="marker"></div>
      <div class="timeline-content">
         <h3>Fourth Year</h3>
         <span>Some work experience</span>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
      </div>
   </div>

   <div class="timeline-block timeline-block-right">
      <div class="marker"></div>
      <div class="timeline-content">
         <h3>Fifth Year</h3>
         <span>Some work experience</span>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
      </div>
   </div>

   
</div>

<div class="card">
    <div class="card-body">
        <h1><span>Horizontal Timeline</span></h1>
        <section class="ps-timeline-sec">
         <div class="container">
             <ol class="ps-timeline">
                 <li>
                     <div class="img-handler-top">
                         <img src="http://www.physology.co.uk/wp-content/uploads/2016/02/ps-elem_03.png" alt=""/>
                     </div>
                     <div class="ps-top">
 <h3>1972</h3>
 <p>Digi-Key begins as a small mall-order company when Dr. Stordahl began selling the leftover parts to a digital electronic keyer kit (the Digi-Keyer).</p>
                     </div>
                     <span class="ps-sp-top"></span>
                 </li>
                 <li>
                     <div class="img-handler-bot">
                         <img src="http://www.physology.co.uk/wp-content/uploads/2016/02/ps-elem_13.png" alt=""/>
                     </div>
                   <div class="ps-bot"><h3>1996</h3>
                         <p>Have you tried Physiotherapy, Chiropractor or your GP without the pain free results?</p>
                     </div>
                     <span class="ps-sp-bot"></span>
                 </li>
                 <li>
                     <div class="img-handler-top">
                         <img src="http://www.physology.co.uk/wp-content/uploads/2016/02/ps-elem_05.png" alt=""/>
                     </div>
                     <div class="ps-top">
                       <h3>1997</h3>
                         <p>Let Physology assess and treat your pain with our trusted revolusionary approach.</p>
                     </div>
                     <span class="ps-sp-top"></span>
                 </li>
                 <li>
                     <div class="img-handler-bot">
                         <img src="http://www.physology.co.uk/wp-content/uploads/2016/02/ps-elem_10.png" alt=""/>
                     </div>
                     <div class="ps-bot">
                       <h3>2018</h3>
                         <p>Join our happy family of pain free clients.</p>
                     </div>
 <span class="ps-sp-bot"></span>
                 </li>
             </ol>
         </div>
     </section>
    </div>
</div>